
<nav class="navbar navbar-light justify-content-center" style="background: white;">
    <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/img/logo.png" width="75%" alt="">
    </a>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #273672; font-size: 20px; font-family: cursive;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/inicio" *ngIf=" !cfecha">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/departamento" *ngIf=" !cfecha">Registros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/asignacion" *ngIf="(Tipo=='Centro' || Tipo=='Dpto') && !cfecha" >Asignación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/jefes" *ngIf="Tipo=='Centro'">Jefes</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end" style="margin-left: 55%;">

      <button class="btn btn-outline-danger" href=""  *ngIf="logeado" (click)="cerrarSesion()" [disabled]="cfecha">Cerrar Sesion</button>
      <button class="btn btn-outline-info " href="" data-toggle="modal" data-target="#exampleModalCentered"  *ngIf="!logeado">Iniciar Sesión</button>

    </ul>
  </div>
</nav>


<div class="modal fade" id="exampleModalCentered" tabindex="-1" role="dialog" aria-hidden="true" >
<div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content" >

    <div class="modal-content" >
      <div>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpiar()">
              <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div style="text-align: center;">
          <img src="../../../assets/img/logo.png" width="35%" alt="">
      </div>
      <div class="contenedor">
          <form *ngIf="sesion=='incorrecto'">
              <label for="user">Usuario:</label>
              <p>
              <input class="user" type="text" required [(ngModel)]='usuario' name="user">
              </p>
              <label for="pass">Contraseña:</label>
              <p>
              <input class="pass" type="password" required name="pass" [(ngModel)]='pass'>
              </p>
              <p style="color: red;" *ngIf="!completo">Usuario y/o contraseña incorrectos.</p>
              <div class="btn">
                <input class="btn1 justify-content-center" name="btn1" type="submit" value="Ingresar" (click)='ingresar()'>
              </div>
          </form>
          <form *ngIf="sesion=='correcto'">
            <p>Se inicio sesion correctamente.</p>
              <div>
                <button type="button" class="btn1 justify-content-center" data-dismiss="modal" aria-label="Close" (click)="limpiar()">
                  Cerrar
             </button>
              </div>
          </form>
      </div>
  </div>
</div>
</div>


