<div class="main">
  <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Departamento</th>
          <th scope="col">Contraseña</th>
          <th scope="col" colspan="3">Jefe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let jefe of jefes">
          <td>{{jefe.Id}}</td>
          <td>{{jefe.Nombre}}</td>
          <td>{{jefe.Departamento}}</td>
          <td>{{jefe.Contrasena}}</td>
          <td>{{jefe.Jefe}}</td>
          <td><button type="button" class="btn btn-outline-success btn-sm btn-block" (click)="editar(jefe)"
              data-toggle="modal" data-target="#editar">Editar</button></td>
          <td><button type="button" class="btn btn-outline-danger btn-sm btn-block" (click)="delete(jefe)">Eliminar</button></td>
        </tr>
      </tbody>
  </table>

    <!-- Modal Editar -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Jefe: {{jefe_editar}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label>Nuevo Nombre</label>
                          <input type="text" class="form-control" #nom_e [(ngModel)]="nuevo_nom" name="nom_e">
                      </div>
                      <div class="form-group">
                          <label>Nueva Contraseña</label>
                          <input type="password" class="form-control" #pass_e [(ngModel)]="nueva_pass" name="nueva_pass">
                      </div>
                      <div class="form-group">
                          <label>Departamento</label>
                          <select name="depto" id="" class="form-control" #dpto_e (change)="opcion()" [(ngModel)]="dpto_ed" name="dpto_ed">
                              <option value="0">Selecciona un Departamento</option>
                              <option *ngFor="let dep of dptos" [value]="dep.Codigo">{{dep.Nombre}}</option>
                           </select>
                      </div>
                      <div class="form-group">
                          <label>Jefe</label>
                          <select name="depto" id="" class="form-control" #jefe_e (change)="opcion2()" [(ngModel)]="jefe_ed" name="jefe_ed">
                              <option value="0">Selecciona un Jefe de Centro</option>
                              <option *ngFor="let jefe of jefes_centro" [value]="jefe.Id">{{jefe.Nombre}}</option>
                           </select>
                      </div>
                      <button type="submit" class="btn btn-info"  *ngIf="jefe_e.value!=0 && dpto_e.value!=0 ;else desactivado" (click)="actualizar(dpto_e.value,jefe_e.value)">Confirmar</button>
                      <ng-template #desactivado>
                          <button type="submit" class="btn btn-info" disabled>Confirmar</button>
                      </ng-template>
                  </form>
              </div>
          </div>
      </div>
    </div>
</div>

<div class="container-fluid boton">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Registrar Jefe
  </button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo Jefe de Departamento</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label>Nombre</label>
                          <input type="text" class="form-control" #nom [(ngModel)]="nombre" name="nombre">
                      </div>
                      <div class="form-group">
                          <label>Id</label>
                          <input type="text" class="form-control" #id [(ngModel)]="clave" name="clave">
                      </div>
                      <div class="form-group">
                          <label>Contraseña</label>
                          <input type="password" class="form-control" #contra [(ngModel)]="password" name="password">
                      </div>
                      <div class="form-group">
                          <label>Departamento</label>
                          <select name="dpto" id="" class="form-control" #dept (change)="opcion()" [(ngModel)]="departamento" name="departamento">
                              <option value="0">Selecciona un Departamento</option>
                              <option *ngFor="let dep of dptos" [value]="dep.Codigo">{{dep.Nombre}}</option>
                           </select>
                      </div>
                      <div class="form-group">
                          <label>Jefe</label>
                          <select name="depto" id="" class="form-control" #jef (change)="opcion2()" [(ngModel)]="jefe" name="jefe">
                              <option value="0">Selecciona un Jefe de Centro</option>
                              <option *ngFor="let jefe of jefes_centro" [value]="jefe.Id">{{jefe.Nombre}}</option>
                           </select>
                      </div>
                      <button type="submit" class="btn btn-info"  *ngIf="jef.value!=0 && dept.value!=0 ;else desactivado" (click)="guardar(nom.value, id.value, contra.value, dept.value, jef.value)">Confirmar</button>
                      <ng-template #desactivado>
                          <button type="submit" class="btn btn-info" disabled>Confirmar</button>
                      </ng-template>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="fechas my-5">
    <h1 style="text-align: center;">Registro de Modificación de Fechas</h1>
    <div class="alert alert-warning" role="alert">    
        <p>Fecha: {{ultimo_registro[0].fechaCambio}} </p>
        <p>Nombre: {{ultimo_registro[0].Asignador}} </p>
        <button type="button" class="btn btn-outline-secondary" (click)="modificar_fecha()">Modificar Fechas</button>
    </div>
</div>
