<div class="container my-5">
    <div class="uno">
        <img src="../../../assets/img/centro_cb.png" alt="">
    </div>
    <div class="dos">
        <form action="">
            <p class="nom">
                Carrera
            </p>
            <p>
                <select name="carr" id="" #carrselect (change)="SeleccionoCarr(carrselect.value)" >
                    <option>Selecciona una Carrera</option>
                    <option *ngFor="let carr of carreras" [value]="carr.Codigo">{{carr.Nombre}}</option>
                </select>
            </p>
            <p class="nom">
                Departamento
            </p>
             <p>
                 <select name="depto" id="" #deptoselect (change)="SeleccionoDpto(deptoselect.value)">
                    <option>Selecciona una Departamento</option>
                    <option *ngFor="let dep of deptos" [value]="dep.Codigo">{{dep.Nombre}}</option>                 
                 </select>
             </p>
             <p class="nom">
                Materia
            </p>
            <p>
                <select name="materiaselect" id="" [(ngModel)]="materiaselectv" #materiaselect>
                    <option selected>Selecciona una Materia</option>
                    <option *ngFor="let mat of materias" [value]="mat.Nombre">{{mat.Nombre}} - {{mat.Semestre}}°</option>                 
                 </select>
            </p> 
             <button type="button" class="btn btn-secondary mt-3" (click)="enviar(carrselect.value,deptoselect.value,materiaselect.value)">Buscar</button>
             <p style="color: red;" *ngIf="completo">Completa los datos.</p>
        </form>
        
    </div>
</div>
